{% extends 'base.html'%}
{% load static %}

{% block title%} Portifólio Dabe {% endblock %}
{% block content%}
      <div class="container text-center" id="Quem sou eu?">
        <div class="row">
          <div class="col">
            <h1 id="QuemSouEu">Quem sou eu?</h1>
            <p id="Descricao">Estudante de Licenciatura em Ciências da computação, pela Universidade
                Federal Rural de Pernambuco <strong>(UFRPE)</strong>. Atualmente
            leciona para crianças e adolescentes em uma escola de Programação e Robótica na cidade do Recife.
        Possui conhecimento no desenvolvimento de Jogos, Aplicativos e Sites. </p>
          </div>
          <div class="col">
            <img src="static/img/image.png" id="imgDabe">
          </div>
        </div>
      </div>
    {%endblock%}
    